* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color:  #00008bcb;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg .inner {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.bg .loading {
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    animation: load 0.8s ease infinite;
}

.bg .loading.one {
    animation-delay: 0.3s;
}

.bg .loading.two {
    animation-delay: 0.4s;
}

.bg .loading.three {
    animation-delay: 0.5s;
}
.bg .loading.four {
    animation-delay: 0.6s;
}


@keyframes load {
    0% {
        width: 30px;
        height: 30px;
    }
    50% {
        width: 20px;
        height: 20px;
    }
}